<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="changeColor ? 'colorRed' : '' ">
        <a class="navbar-brand" (click)="onClick()" style="cursor: pointer;">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item  text-center">
              <a class="nav-link" href="#">PHP CURD GENERATOR</a>
            </li>
          </ul>
          <span class="navbar-text ml-auto">
              <a href="#">  Logout <i class="fas fa-sign-out-alt"></i></a>
          </span>
        </div>
  </nav>