.card a{
    text-decoration: none;
    color: black;
 }

 .collapse{
     padding-left: 20px;
     padding-right: 40px;
     padding-top: 10px;
     padding-bottom: 5px;
 }

 .card-block{
     margin-left: 100px;
 }