<div class="container  mt-5">
    <div class="card col-lg-7">
<div class="row">
        <div class="col-lg-3 pt-5">
            <img [src]= "userDatas.imagePath" [alt] = "userDatas.name" class="img-responsive" height="200px" width="180px">
        </div>
    <div class="col-lg-9 pt-3">
           <p class="pl-5"><b> Customer Id</b> : <i class="text-center">{{ userDatas.name }}</i> </p> <hr>
           <p class="pl-5"><b> First Name</b> : {{ userDatas.fname }} </p> <hr>
           <p class="pl-5"><b> Last Name</b> : {{ userDatas.lname }} </p> <hr>
           <p class="pl-5"> <b>Email Id</b> : {{ userDatas.email }} </p><hr>
           <p class="pl-5"> <b>Rental Date</b> : {{ userDatas.date | date:'short' }} </p>
        </div>
    </div>
 </div>
</div>

